<!DOCTYPE html>

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/sign.css">
</head>
<body>
   
  <div class="form">
      
      <ul class="top-area">
        <li class="tab active"><a href="edit.html">Edit</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="edit">   
          <h1>Change Password</h1>
          
          <form action="/" method="post">

          <div class="label-field">
            <label>
            </label>
            <input type="username"required autocomplete="off" placeholder="Username"/>
          </div>

           
          <div class="label-field">
            <label>
            </label>
            <input type="password"required autocomplete="off" placeholder="Old Password"/>
          </div>

          
          <div class="label-field">
            <label>
            </label>
            <input type="password"required autocomplete="off" placeholder="New Password"/>
          </div>

          <div class="label-field">
            <label>
            </label>
            <input type="password"required autocomplete="off" placeholder="Re-Enter New Password"/>
          </div>
          
          
          <button type="submit" class="button button-block">Submit</button>
          
          </form>

        </div>



</body>
<script>
    

$('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

	  if (e.type === 'keyup') {
			if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
    	if( $this.val() === '' ) {
    		label.removeClass('active highlight'); 
			} else {
		    label.removeClass('highlight');   
			}   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
    		label.removeClass('highlight'); 
			} 
      else if( $this.val() !== '' ) {
		    label.addClass('highlight');
			}
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
</script>

</html>