
<html>

	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
	</head>

	<body>
		<div class='host'>
			<div>
				<div class="carousel carousel-slider center">

					<div class="left">
						<a class="movePrevCarousel waves-effect waves-light"><i class="material-icons white-text">chevron_left</i></a>
					</div>
					   
					<div class="right">
						<a class="moveNextCarousel waves-effect waves-light"><i class="material-icons right white-text">chevron_right</i></a>
					</div>

					<div id='1' class="carousel-item deep-purple darken-4 white-text">
						<p>January</p>
					</div>
					<div id='2' class="carousel-item deep-purple darken-4  white-text">
						<p>Febuary</p>
					</div>
					<div id='3' class="carousel-item deep-purple darken-4 white-text">
						<p>March</p>
					</div>
					<div id='4' class="carousel-item deep-purple darken-4 white-text">
						<p>April</p>
					</div>
					<div id='5' class="carousel-item deep-purple darken-4 white-text">
						<p>May</p>
					</div>
					<div id='6' class="carousel-item deep-purple darken-4 white-text">
						<p>June</p>
					</div>
					<div id='7' class="carousel-item deep-purple darken-4 white-text">
						<p>July</p>
					</div>
					<div id='8' class="carousel-item deep-purple darken-4 white-text">
						<p>August</p>
					</div>
					<div id='9' class="carousel-item deep-purple darken-4 white-text">
						<p>September</p>
					</div>
					<div id='10' class="carousel-item deep-purple darken-4 white-text">
						<p>October</p>
					</div>
					<div id='11' class="carousel-item deep-purple darken-4 white-text">
						<p>November</p>
					</div>
					<div id='12' class="carousel-item deep-purple darken-4 white-text">
						<p>December</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="carousel carousel-slider center zombie">
				<div class="carousel-item deep-purple darken-4">
					<div class="container ">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div> 
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
				<div class="carousel-item deep-purple darken-4">
					<div class="container">
						<div class="grid"></div>
					</div>
				</div>
			</div></div>
		</div>

		<div class='container'>
			<div class="row">
				<div class="col s12">
				  <div class="card-panel solar-info" id='info-card'>
					<span>
						<h5>Solar power generated <div id='days'></div></h4><br/>
						In total, <div id='total'></div> were generated<div id='daysAverage'></div> meaning you likely saved around <div id='saving'></div>!
						<p><div id='diff'></div> this month's average of <div id='monthAverage'></div></p>
					</span>
				  </div>
				</div>
			</div>
		</div>
		

		<a id="help" class="btn-large btn-floating" ><i class="material-icons">help_outline</i></a>

		<div class="tap-target" data-target="help">
			<div class="tap-target-content">
				<p>
					You can use this to track how much solar power you have generated! The lighter colour the day is means greater power has been generated.<br><br>
					Select the month you want to look at and drag across to select how many days you want to view.
				</p>
			</div>
		</div>

		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/solar.js"></script>
		<script type="text/javascript" src="js/help.js"></script>
	</body>

</html>
